@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
    --white : white;
    --black : black;
    --silver :  rgb(27, 27, 27);
}
body{
    background-color: var(--black);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;

}

nav ul div{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: var(--black);
    color: white;
    width: 100%;
}

nav ul li{
    padding: 0 12px;
}
li{
    position: relative;
}
a{
    color: var(--white);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.active::after{
 content: "";
 position: absolute;
 width: 62%;
 border: 1px solid var(--white);
 bottom: -6px;
 left: 18%;
 background-color: var(--white);
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: var(--silver);
    color: var(--white);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg2.jpg');
}



.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}



.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: var(--white);
    color:var(--black);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 34px;
    height:40px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}
.songItem a{
    color: var(--black);
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color:var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}






/*  library  */

/* 
.albumItemContainer{
    margin-top: 74px;
}


.albumItem a{
    
    height: 50px;
    display: flex;
    background-color: var(--white);
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
}
 */


  /*  library */


/* .common-songItemContainer{
    display: flex;
    flex-direction: row;
} */
.songItemContainer{
    margin-right: 74px;
}


/* signin */

.form-container {
    width: 100%;
    color: var(--white);
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container2 {
    width: 100%;
    color: var(--white);
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box {
    box-shadow: 0px 0px 20px var(--white);
    padding: 75px 95px;
}

.form-box label {
    font-weight: 600;
    font-size: 42px;
}
hr{
    margin: 10px 0;
}

.form-text {
    display: flex;
    flex-direction: column;
}

.form-text input {
    margin: 15px 0;
    padding: 13px 75px 13px 0;
    border: 1px solid var(--white);
    background-color: var(--silver);
    border-radius: 5px;
    outline: none;
}

::-webkit-input-placeholder {
    color: var(--white);
    padding-left: 20px;
    
}

/* ......button....... */
.form-text button {
    /* background-color: var(--silver); */
    background-color: green;
    border: 1px solid var(--white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 7px 23px;
    margin: 15px 0;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}


/* media Query  */




  .closebtn{
      display: none;
    }
    .brand-out{
        display: none;
    }

@media screen and (max-width: 600px) {
    .common-songItemContainer{
        display: flex;
        flex-direction: column;
    }
    nav{
        margin-bottom: 35px;
        background-color: black;
    }
    nav ul{
        height: 75px;
    }
    
    .brand-in{
        display: none;
    }
      .brand-out{
    display: block;
    position: fixed;
    top: 5%;
    left: 10%;
}


.brand-out{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #f1f1f1;
}

.open{
    font-size:20px;
    cursor:pointer;
    color:var(--white);
    position: fixed;
    top: 5%;
    right: 20%;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0 5px;
}
.sidenav {
height: 50%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #111;
overflow-y: hidden;
transition: 0.5s;
padding-top: 60px;
text-align:center;
display: block;

}

.sidenav a {
padding: 18px 8px 8px 32px;
font-size: 18px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover{
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
/* top: 0;
right: 25px; */
font-size: 36px;
margin-left: 50px;
display: block;
top: 0%;
right: 20%;
}

} 
